.login
  width 100vw
  height 100vh
  background-image url("../assets/img/background.svg")
  background-repeat no-repeat
  background-position center 110px
  background-size 100%
  background-color #f0f2f5
  overflow: hidden
  display flex
  flex-direction column

  .header
    widht 100%
    height 40px

  .container
    display flex
    flex-direction column
    width 100%
    align-content center
    flex 1 1

    .title
      display flex
      flex-direction column
      justify-content center
      align-items center

      .main-title
        display flex
        flex-direction row
        justify-content center
        align-items center

        img
          height 44px
          width 44px

        .title-text
          margin-left 20px
          color: rgba(0, 0, 0, .85)
          font-weight: 600
          font-size: 33px
          font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif

      .sub-title
        margin-top: 12px
        margin-bottom: 40px
        color: rgba(0, 0, 0, .45)
        font-size: 14px


    .content
      width 368px
      margin 0 auto

      .cus-tabs
        /*text-align center*/
      .reg-text
        font-size: 1.4rem
        text-align: center

      .other
        display flex
        flex-direction row
        justify-content space-between
        font-size .8rem
        list-style none
        line-height 22px
        font-family -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-variant-numeric tabular-nums
        text-rendering optimizeLegibility
        font-feature-settings "tnums"

        .social
          display flex
          flex-direction row

          .text
            color rgba(0, 0, 0, .65)

        .register
          color #096dd9

          &:hover
            cursor pointer
            color #40A9FF

  @media screen and (min-width: 768px)
    padding 32px 0 24px

  .footer
    width 100%
    height 150px
    flex 0 0 auto
    display flex
    flex-direction row
    justify-content center

    .text
      color: rgba(0, 0, 0, .45)
      font-size: 14px;
      position fixed
      bottom 8px

/* 注册*/
.reg-bottom
  display flex
  flex-direction row
  justify-content space-between
  align-items center

  .reg-button
    width 200px

  .reback-text
    line-height 100%
    color: #096dd9

    &:hover
      cursor pointer
      color #40A9FF